@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');



.whole_app {
    font-family: 'Luckiest Guy', cursive;
}


/*create variables that can be reused constantly*/
:root {
    --nav-color: hsl(210, 11%, 15%);
    --nav-color-hover: hsl(210, 11%, 45%);
    --nav-border-color: (210, 11%, 45%);
    --light-color: hsl(209, 100%, 92%);
    --font-color: hsl(0, 0%, 100%);
    --font-color-hover: hsl(0, 0%, 50%);
}
